body {
    padding: 10px;
}


header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
}

header div {
    font-size: 16px;
    display: flex;
    padding: 0 10px;
}

header div strong {
    padding: 0 5px;
}

.in_and_reg {
    padding-left: 15px;
} 

header h1 a {
    font-weight: normal;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 
}

header h1 a:hover {
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: black;
    padding-top: 0;
    font-weight: bold;
}

header a:hover {
    color: black;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.row {
    width: 100%;
    margin:auto;
    display: flex;
    justify-content: space-around;
}

.col-md-3 {
    margin: 20px 0px;
    min-width: 400px;
}

.col-md-3 a {
    color: black; 
}

.col-md-3 a:hover {
    text-decoration: none;
}


/*******************************************

                LISTING

********************************************/


.listing_info {
    margin: 10px;
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}



.listing_contener {
    margin: 30px;
}


.listing_contener h2 {
    font-weight: bold;
}

.listing_contener form {
    padding: 10px;
}

.listing_contener form button, .listing_contener form input  {
    margin: 5px;
}