body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

#new_page {
    display: flex;
    flex-direction: column;
}

textarea {
    height: 65vh;
    width: 100%;
}

#edit_link {
    text-align: right;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    width: 97%;
    
}

#edit_link a {
    text-decoration: none;
    color: black;   
}


#new_page label {
    padding: 15px 0px 0px 20px;
}

#title_exist {
    color: red;
    font-weight: bold;
    font-size: x-large;
}

#new_page input[type="submit"] {
    margin-top: 10px;
    width: 50%;
    align-self: center;
    background-color: darkolivegreen;
    color:white;
}

#cancel_new_page {
    height: 30px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 10px auto;
    border: solid 1px black;
    width: 50%;
    background-color: rgb(122, 48, 48);
}

#new_page input[type="text"] {
    width: 50%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}
