{% extends "auctions/layout.html" %}

{% block title %}
Create Listing
{% endblock%}

<!--They should be able to specify a title for the listing,
     a text-based description, and what the starting bid should be. 
     Users should also optionally be able to provide a URL for an image 
     for the listing and/or a category (e.g. Fashion, Toys, Electronics, Home, etc.).-->


{% block body %}

    <h1>Create new Listing</h1>

    <form action="{% url 'create_listing' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

{% endblock %}