{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
Auctions
{% endblock%}

{% block body %}
    <h2>Active Listings</h2>

      <div class="listing">
        <div class="row">
      {% for listing in listings %}
    
      
      <div class="col-md-3">
          <a href="{% url 'listing' listing.id %}">
            <div class="card">
              
                {% if listing.img %}
                <img src="{{ listing.img.url }}" alt="Lights"  class="card-img-top" style="max-height: 320px;">
                {% else %}
                <img src="/media/img_folder/no_picture.png" alt="No picture" class="card-img-top" >
                {% endif%}

                <div class="card-body">
                  <h3 class="card-title">{{ listing.title }}</h3>
                  <h4>
                    <strong>Price:</strong> ${{ listing.get_price }}
                  
                  </h4>
                  <p class="card-text">{{ listing.description }}</p>
                  <p>Created {{ listing.date }}</p>
                </div>
              
            </div>
        </a>
        </div>

        {% endfor %}


        

      </div>

      

    
{% endblock %}

<div class="col-md-3">
  <div class="card">
    <a href="/w3images/lights.jpg">
      <img src="/media/img_folder/a841db075a0bd892d6258388f1dfacc1.jpg" alt="Lights"  class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">Cooucu</h4>
        <p class="card-text">{{ listing.description }}</p>
        <a href="#" class="btn btn-primary stretched-link">Add to watchlist</a>
      </div>
    </a>
  </div>
</div>
<div class="col-md-3">
  <div class="card">
    <a href="/w3images/lights.jpg">
      <img src="/media/img_folder/a841db075a0bd892d6258388f1dfacc1.jpg" alt="Lights"  class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">Cooucu</h4>
        <p class="card-text">{{ listing.description }}</p>
        <a href="#" class="btn btn-primary stretched-link">Add to watchlist</a>
      </div>
    </a>
  </div>
</div>


<div class="col-md-3">
  <div class="card">
    <a href="/w3images/lights.jpg">
      <img src="/media/img_folder/a841db075a0bd892d6258388f1dfacc1.jpg" alt="Lights"  class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">Cooucu</h4>
        <p class="card-text">{{ listing.description }}</p>
        <a href="#" class="btn btn-primary stretched-link">Add to watchlist</a>
      </div>
    </a>
  </div>
</div>

<div class="col-md-3">
  <div class="card">
    <a href="/w3images/lights.jpg">
      <img src="/media/img_folder/a841db075a0bd892d6258388f1dfacc1.jpg" alt="Lights"  class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">Cooucu</h4>
        <p class="card-text">{{ listing.description }}</p>
        <a href="#" class="btn btn-primary stretched-link">Add to watchlist</a>
      </div>
    </a>
  </div>
</div>

<div class="col-md-3">
  <div class="card">
    <a href="/w3images/lights.jpg">
      <img src="/media/img_folder/a841db075a0bd892d6258388f1dfacc1.jpg" alt="Lights"  class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">Cooucu</h4>
        <p class="card-text">{{ listing.description }}</p>
        <a href="#" class="btn btn-primary stretched-link">Add to watchlist</a>
      </div>
    </a>
  </div>
</div>