{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
Auctions - {{ listing.title }}
{% endblock%}


<!--Listing Page: Clicking on a listing should take users to a page specific to that 
    listing. On that page, users should be able to view all details about the listing, 
    including the current price for the listing.

    If the user is signed in, the user should be able to add the item to their “Watchlist.”
    If the item is already on the watchlist, the user should be able to remove it.
    If the user is signed in, the user should be able to bid on the item. The bid must 
    be at least as large as the starting bid, and must be greater than any other bids that
     have been placed (if any). If the bid doesn’t meet those criteria, the user should be 
     presented with an error.
    If the user is signed in and is the one who created the listing, the user should have
     the ability to “close” the auction from this page, which makes the highest bidder the 
     winner of the auction and makes the listing no longer active.
    If a user is signed in on a closed listing page, and the user has won that auction, the
     page should say so.
    Users who are signed in should be able to add comments to the listing page. The listing
     page should display all comments that have been made on the listing.

-->
{% block body %}

  

    <div class="listing_info">
        
        <h1>Listing : {{ listing.title }}
            {% if is_watchlisted %}
            <span class="badge badge-pill badge-primary">watchlist</span>
            {% endif %}
        </h1>
        

            <form action="{% url 'listing' listing.pk %}" method="post">
                {% csrf_token %}


                {% if user.is_authenticated %}
                    {% if user == listing.author %}
                        <button type="submit" name="delete" class="btn btn-danger">Delete my listing</button>
                    {% endif %}

                    {% if is_watchlisted %}
                        <button type="submit" name="delete_from_watchlist" class="btn btn-danger">Delete from watchlist</button>
                    {% else %}
                        <button type="submit" name="add_to_watchlist" class="btn btn-success">Add to watchlist</button>
                    {% endif %}

                {% endif%}

            </form>
        
    </div>

    <div class="listing_contener">
    
        {% if listing.img %}
            <img src="{{ listing.img.url }}" alt="Lights"  class="img-thumbnail" style="max-height: 320px;">
        {% else %}
            <img src="/media/img_folder/no_picture.png" alt="No picture" class="img-thumbnail" >
        {% endif%}
        
        <h3>{{ listing.description }}</h3>
        
        <h2>Price : ${{ listing.get_price  }}</h2>

        <form action="{% url 'listing' listing.pk %}" method="post" class="form-inline">
            {% csrf_token %}

            <label for="email">Bid ($):</label>
            <input type="email" class="form-control" placeholder="Enter bid" id="bid">
            
        

            <button type="submit" class="btn btn-info">Submit</button>

        </form>
    
    </div>




{% endblock %}